* {
    margin: 0;
    padding: 0;
}

body {
    background-size: 100%;
}

header {
    display: flex;
    justify-content: baseline;
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    box-shadow: 25px 25px 25px black;
}

.logo {
    font-size: 40px;
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    top: -1px;
    letter-spacing: -0.03em;
    text-shadow: 2px 2px 2px #ababab;
    height: 60px;
    width: 60px;
}

.logoFrase {
    color :#7901e9e1;
    position: absolute;
    top: 10px;
    left: 250px;
    font-family: Roboto, cursive;
    font-size: 33px;
    font-style: italic;
    letter-spacing: -0.03em;
    text-shadow: 2px 2px 2px #d4d4d4;
}

.lista {
    position: absolute;
    padding: 0px;
    right: 30px;
    top: -0px;
    display: flex;
    margin: 4px;
    letter-spacing: -0.01em;
}

.btnContato {
    margin-right: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    width: 120px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 100px;
    font-weight: 300;
    background-image: linear-gradient(to right, #232b77 0%, #2c2cb9  51%, #232b77  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 1px 1px 1px rgb(19, 3, 84);  
}

.btnContato:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    scale: 1.02;
    transition: 0.2s;
}

.btnTrabalhadores {
    margin-right: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    width: 160px;
    font-weight: 300;
    background-image: linear-gradient(to right, #232b77 0%, #2c2cb9  51%, #232b77  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 1px 1px 1px rgb(22, 10, 129);  

}

.btnTrabalhadores:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    scale: 1.02;
    transition: 0.2s;
}


.btnEntrar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    width: 120px;
    font-weight: 300;
    background-image: linear-gradient(to right, #240339 0%, #740a80  51%, #24033b 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 2px 2px 3px rgb(78, 2, 132);
}

.btnEntrar:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    scale: 1.02;
    transition: 0.2s;
}

.firstSection {
    margin-top: 40px;
    font-family: Roboto, cursive;
    font-size: 30px;
}

.secondSection {
    display: flex;
    margin-left: 20px;
}

.escritaCadastro {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.imgsCadastro {
    display: flex;
    justify-content: space-around;
}

.thirdSection {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.escritaPronto {
    font-size: 25px;
    font-family: Roboto, cursive;
    padding: 15px;
}

.escritaPronto3 {
    margin-top: 15px;
}